/* FONTS */
@font-face{
	font-family: finalfrontier;
	src:url("../assets/fonts/Finalnew.ttf");
}

@font-face{
	font-family: robotolight;
	src:url("../assets/fonts/Roboto-Light.ttf");
}




a
{
	text-decoration: none;
}

.h
{
	background-color: #042029;
	color: honeydew;
}

.topbar{
	width: 100%;
	background-color: #099FDC;
	height:100px;
	padding: 10px 0px ;
	vertical-align: middle;
}

.toplogo{
	position:relative;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	width: 80px;
	height: 80px;
}

.toplogo img{
	max-width: 100%;
}

.titletext{
	position: relative;
	float: left;
	height: 80px;
	font-size: 50px;
	margin-top: 10px;
	margin-left: 10px;
	font-family: "finalfrontier";
	color: white;
}

.topbarholder{
	height:40px;
	position: relative;
	top: 50%;
	transform:translateY(-40%);
}

.about{
	position: relative;
	float: right;
	font-family: robotolight;
	color: white;
	height: 80px;
	margin-top: 10px;
	margin-right:20px;
	font-size: 25px;
}

.border:hover{
	border-bottom:5px solid white;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    transition: all 200ms ease;
}

.homediv{
	margin-top: 10px;
	width:100%;
	padding: 10px 0px;
	margin-bottom: 10px;
	min-height: 100px;
	overflow: hidden;
}

.hometitles{
	width: 100%;
	font-family: robotolight;
	font-size: 35px;
	text-align: center;
	color:#099fdc;
	margin-bottom: 10px;
}

#adminlogin{
	position: relative;
	float: left;
	width: 49%;
	height: 270px;
	text-align: center;
}

#guestlogin{
	text-align: center;
	position: relative;
	float: left;
	width: 49%;
	border-left: 2px solid #099FDC;
	height: 270px;

}

.logintitles{
	margin-top: 20px;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
	font-family: robotolight;
	font-size: 30px;
	color:#099FDC;
	vertical-align: m
}

.formfield{
	text-align: center;
	font-family: robotolight;
	font-size: 15px;
	margin-top:20px;
	border: 1px solid #099FDC;
}


.formsubmit{
	padding:5px 15px; 
	background-color:#099FDC; 
	border:1px solid #099FDC;
    cursor:pointer;
    -webkit-border-radius: 0px;
    border-radius: 0px; 
    color: white;
    margin-top: 10px;
    font-size: 20px;
    font-family: robotolight;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
}

#guestSubmit{
	position: relative;
	top: 50%;
	transform:translateY(-40%);
}

.formsubmit:hover {
    background-color: #ffffff;
    color:#099FDC;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
}

#news{
	background-color: #099FDC;
}

#newstitle{
	color: white;
}

#bulletins{
	width: 100%;
	padding: 10px 5px;
	font-size: 13px;
	font-family: robotolight;
	color: white;
	text-align: center;
	min-height: 50px;
	overflow: auto;
	max-height: 350px;
}

