/* FONTS */
@font-face{
	font-family: finalfrontier;
	src:url("../assets/fonts/Finalnew.ttf");
}

@font-face{
	font-family: robotolight;
	src:url("../assets/fonts/Roboto-Light.ttf");
}



a
{
	text-decoration: none;
}

.h
{
	background-color: #042029;
	color: honeydew;
}

.topbar{
	width: 100%;
	background-color: #099FDC;
	height:100px;
	padding: 10px 0px ;
	vertical-align: middle;
}

.toplogo{
	position:relative;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	width: 80px;
	height: 80px;
}

.toplogo img{
	max-width: 100%;
}

.titletext{
	position: relative;
	float: left;
	height: 80px;
	font-size: 50px;
	margin-top: 10px;
	margin-left: 10px;
	font-family: "finalfrontier";
	color: white;
}

.topbarholder{
	height:40px;
	position: relative;
	top: 50%;
	transform:translateY(-40%);
}

.about{
	position: relative;
	float: right;
	font-family: robotolight;
	color: white;
	height: 80px;
	margin-top: 10px;
	margin-right:20px;
	font-size: 25px;
}

.border:hover{
	border-bottom:5px solid white;
	cursor: pointer;
}